/* CSS Methodology: SMACSS */

// variables
$main-color: #5bc0c3;
$light-grey: #f1f2f5;
$dark-grey: #d9dadd;
$text-color: #5a6176;
$heading-color: #575656;
$page-side-margins: 100px;
$column-space: 15px;
$footer-background: #454850;
$footer-text: #959db6;
$footer-divider-color: #575b64;
$par-size: 0.9375rem;
$top-bar-height: 80px;
$logo-height: 40px;
$slier-nav-buttons-color: #979eb2;


@charset "UTF-8";
// @Fontface
@font-face {font-family: "Museo Sans W01 Rounded 300";
  src: url("../fonts/1b4cd06b44538d529084b3599f708643.eot"); /* IE9*/
  src: url("../fonts/1b4cd06b44538d529084b3599f708643.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/1b4cd06b44538d529084b3599f708643.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/1b4cd06b44538d529084b3599f708643.woff") format("woff"), /* chrome、firefox */
  url("../fonts/1b4cd06b44538d529084b3599f708643.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/1b4cd06b44538d529084b3599f708643.svg#Museo Sans W01 Rounded 300") format("svg"); /* iOS 4.1- */
}

/* --------------------- Mixins --------------------- */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
	 -moz-border-radius: $radius;
	  -ms-border-radius: $radius;
		  border-radius: $radius;
}
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	   -moz-box-shadow: $shadow;
			box-shadow: $shadow;
}
@mixin transform($transform) {
	-webkit-transform: $transform;
	   -moz-transform: $transform;
	    -ms-transform: $transform;
			transform: $transform;
}


/* --------------------- Base Rules --------------------- */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
	width: 100%;
	overflow-x: hidden;
	direction: ltr;
	font-family: "Museo Sans W01 Rounded 300",sans-serif;
}
h2 {
	font-size: 1.5625rem;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: $heading-color;
}
p, a {
	font-size: $par-size;
	color: $text-color;
	line-height: 22px;
}

a {
	text-decoration: none;
}


hr {
	height: 0px;
	margin: 0;
	border-color: $dark-grey;
	border-style: solid;
}

.clearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


/* --------------------- END Base Rules --------------------- */


/* --------------------- Layout Rules --------------------- */

.l-content {
	padding-left: 40px;
	padding-right: 40px;
}
.l-section {
	padding-bottom: 41px;
	padding-top: 15px;
}
.l-section-title {
	@extend .is-uppercase;
	@extend .is-text-centered;
	margin-bottom: 29px;
}

.l-horiz {
	float: left;
}
.l-float-right {
	float: right;
}

.l-column-container {
	@extend .clearfix;
}
.l-column {
	float: left;
}
.l-column3 {
	@extend .l-column;
	width: 33.333333%;
}
.l-column4 {
	@extend .l-column;
	width: 25%;
}
.l-column5 {
	@extend .l-column;
	width: 20%;
}
.l-fullwidth-divider {
	position: absolute;
	right: $page-side-margins + $column-space;
	left: $page-side-margins + $column-space;
}
.l-list-menu {
	padding: 0;
	margin: 0;
	@extend .clearfix;
	display: inline-block;
	li {
		padding: 0 11px;
		margin: 0;
		list-style: none;
		list-style-type: none;
		float: left;
	}
}



/* --------------------- Module Rules --------------------- */

#header {
	padding-top: $top-bar-height;
}

// Top bar
#top-bar {
	background: #fff;
	min-height: $top-bar-height;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 499;
	@include box-shadow(0 0 4px #999);
	div {
		height: $top-bar-height;
		line-height: $top-bar-height;
	}
}
// if user is logged in: drupal toolbar 
#toolbar + #header nav#top-bar {
    top: 65px;
}
#logo {
	a {
		display: block;
		height: $top-bar-height;
		padding: ($top-bar-height - $logo-height)/2;
		img {
			height: $logo-height;
		}
	}
}

#join-us {
	margin-left: 20px;
}


// Top menu 

#top-menu {
	ul.menu {
		@extend .l-list-menu;
		height: 100%;
		li {
			height: 100%;
			float: right;
			box-sizing: border-box;
			a {
				@extend .is-bold;
				display: block;
				height: 100%;
				line-height: $top-bar-height;
			}
		}
		li:hover {
			border-bottom: 3px solid #5bc0c3;
		}

	}
}


// header image

#header-intro {
	background: #ddd url(../images/header-intro-background.jpg) top center no-repeat;
	background-size: cover;
	padding: 70px 0;
	position: relative;
	color: #fff;
	
	#intro-content {
		position: relative;
		z-index: 2;
		h1 {
			font-size: 3.5rem;
			color: #fff;
		}
		p {
			color: #fff;
			margin-left: auto;
			margin-right: auto
		}

		p.first-intro-par, p.third-intro-par {
			font-size: 1.125rem;
		}

		p.first-intro-par {
			line-height: 33px;
			margin-bottom: 21px;
			max-width: 635px;
		}

		p.second-intro-par {
			font-size: 0.9375rem;
			line-height: 24px;
			max-width: 600px;
			font-size: 15px;
			margin-bottom: 24px;
		}
	}
	&:after {
		background: rgba(24, 25, 27, 0.7);
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
		content: "";
	}
}


// main sections
#events {
	min-height: 60px;
	padding-top: 28px;
	padding-bottom: 27px;
	#register-button {}
	#event-content {
		h3 {
			margin-top: 0;
			margin-bottom: 16px;
			font-size: $par-size;
		}

		p {
			margin: 0;
		}
	}
}

.section-content {
	margin-top: 30px;
}
#get-involved {
	.section-content {
		h3 {
			font-size: $par-size;
		}
		p {
			margin-bottom: 21px;
		}
		img {
			height: 100px;
			margin-bottom: 12px;
		}
	}
}

.slider {
	position: relative;
	.slider-container {
		overflow: hidden;
	}
	.slider-direction-button {
	    position: absolute;
	    top: 50%;
	    @include transform(translateY(-50%));
	    cursor: pointer;
	}
	.slider-direction-right {
		right: -30px;
	}
	.slider-direction-left {
		left: -30px;
	}
	.slider-direction-button i.fa {
	    font-size: 56px;
	    color: $main-color;
	}
	.slider-nav {
	    margin-top: 30px;
	    .slider-nav-button {
	    	margin: 0 6px;
	    	cursor: pointer;
			i.fa {
			    color: $slier-nav-buttons-color;
			}
			&.slider-curr-page {
				i.fa {
					color: $main-color;
				}
			}
		}
	}
}

$image-background: #53c0d6;
$image-width-height: 45px;
$image-padding: 20px;
$image-border-width: $image-padding/2;
$image-box-half: $image-width-height/2+$image-border-width+$image-padding;
#our-mission {
	border-bottom: 1px solid $dark-grey;
	.second-mission-par {
		font-size: 1.0625rem;
		margin-top: 26px;
	}
	.section-content {
		margin-top: 49px;
		.image-container {
			@include border-radius(100px);
			display: inline-block;
			padding: $image-padding;
			background: $image-background;
			width: $image-width-height;
			height: $image-width-height;
			border: $image-border-width solid #fff;
			position: absolute;
			top: (-$image-box-half);
			right: 50%;
			margin-right: (-$image-box-half);
			img {
				max-height: 45px;
				max-width: 45px;
			}
		}

		.mission-box {
			position: relative;
			background: #fff;
			@include border-radius(5px);
			padding: $image-box-half 20px 29px;
			margin-top: $image-box-half;
		}
	}
}

$our-members-height: 80px;
#our-members {
	.slider-container {
		height: $our-members-height !important;
	}
	.section-content {
		.member {
			height: $our-members-height;
    		padding: 0 40px;
			img {
				max-width: 100%;
				max-height: 100%;
				position: relative;
				top: 50%;
				@include transform(translateY(-50%));
			}
		}
	}
}

$blog-title-padding-bottom: 12px;
$blog-title-height: 17px;
#blog {
	.blog-post {
		h1 {
			border-bottom: 1px solid $light-grey;
			padding-bottom: $blog-title-padding-bottom;
			font-size: 100%;
			margin-top: 0;
			line-height: $blog-title-padding-bottom + $blog-title-height;
			height: $blog-title-height;
			overflow: hidden;
		}
		p {
			line-height: 1.5em;
			height: 6em;
			overflow: hidden;
			padding: 0;
			margin: 20px 0 1.5em;
		}
		.post-date {
			display: block;
			margin-top: 20px;
			padding-top: 25px;
			border-top: 1px solid $light-grey;
		}
	}
}

#footer {
	background: $footer-background;
	color: $footer-text;
	#social-links {
		padding: 25px 0;
		height: 18px;
	}
	hr {
		border-color: $footer-divider-color;
	}
	#copyright-info {
		padding: 20px 0;
		p {
			margin: 0;
		}
	}
	p,span {
		color: $footer-text;
	}
}


/* --------------------- Style Rules --------------------- */
.is-background-light-grey {
	background: $light-grey;
}

.is-button {
	@include border-radius(1px);
	@extend .is-bold;
	padding: 11px 25px 10px;
	box-sizing: border-box;
}
.is-button:hover {
	background: #5bc0c3;
	color: #fff;
	@include box-shadow(0 6px 5px -5px rgba(0, 0, 0, 0.25));
	border-color: #5bc0c3;
	transition: all .3s;
}
.is-button-outlined {
	border: 1px solid;
	color: $main-color;
}
.is-button-filled {
	background: $main-color;
	color: #fff;
}
.is-button-large {
	width: 241px;
	max-width: 100%;
	display: inline-block;
}

.is-uppercase, .is-uppercase * {
	text-transform: uppercase;
}

.is-text-centered {
	text-align: center;
}
.is-bold {
	font-weight: bold !important;
}
.is-colored {
	color: $main-color !important;
}
.is-colored-bold {
	@extend .is-bold;
	@extend .is-colored;
}
.is-vertical-align-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	> * {
		float: left;
	}
	> :last-child {
		float: right;
		vertical-align: middle;
	}
}

.is-column-spaced {
	padding: 0 $column-space;
	box-sizing: border-box;
}


// responsive
@media (max-width:480px) {
	.l-content {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width:640px) {
	.l-column3, .l-column4, .l-column5 {
	    width: 100%;
	}
}

@media (max-width:640px) {
	.slider .slider-nav .slider-nav-button {
	    margin: 0 15px;
	}
}

@media (max-width:768px) {
	#blog .l-column4 {
		width: 50% !important;
	}
}

@media (min-width:768px) {
	.l-content {
		max-width: 670px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width:960px) {
	.l-content {
		max-width: 865px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width:1266px) {
	.l-content {
		max-width: 1110px;
		margin-left: auto;
		margin-right: auto;
	}
}
